.tabs {
  &List {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    padding-left: 0;
    border: 1px #dfe5ec solid;
  }
  &Item {
    &:first-child button {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child button {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:nth-child(2) {
      border-left: 1px #dfe5ec solid;
      border-right: 1px #dfe5ec solid;
    }
  }
}

.button {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
  border: none;
  background-color: white;
  font-size: 12px;
  width: 100%;

  &Active {
    background-color: #2196f3;
    color: white;
  }
}
