.tabs {
  &List {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    padding-left: 0;
    border: 1px #dfe5ec solid;
  }
  &Item {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 18px;
    &:nth-child(2) {
      border-left: 1px #dfe5ec solid;
      border-right: 1px #dfe5ec solid;
    }
    &:hover {
      cursor: pointer;
    }
    &Active {
      background-color: #2196f3;
      color: white;
    }
  }
}
