.tabs {
  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    padding-left: 0;
    border: 1px #dfe5ec solid;
  }
  &__item {
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px;
    text-align: center;
    &:nth-child(2) {
      border-left: 1px #dfe5ec solid;
      border-right: 1px #dfe5ec solid;
    }
    &:hover {
      cursor: pointer;
    }
    .active {
      background-color: #2196f3;
      color: white;
    }
  }
}
