.flights {
  &List {
    display: flex;
    gap: 20px;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &Item {
    background-color: white;
    padding: 14px 20px;
    border-radius: 5px;
    border: 1px #dfe5ec solid;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &Title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price {
      font-size: 24px;
      font-weight: 600;
      color: #2196f3;
    }
  }

  &Info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &Route {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .cities {
        font-weight: 600;
        color: #a0b0b9;
        text-transform: uppercase;
      }
    }

    &Duration {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .on-route {
        font-weight: 600;
        color: #a0b0b9;
        text-transform: uppercase;
      }
    }

    &Layovers {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .layover {
        font-weight: 600;
        color: #a0b0b9;
        text-transform: uppercase;
      }
    }
  }
}
